/*Обнулення*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
    transition: all .3s ease;
}

* {
    box-sizing: border-box;
}





@font-face {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_Condensed-Black.woff') format('woff');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_Condensed-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_Condensed-Extralight.woff') format('woff');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_Condensed-Extralight.woff2') format('woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_Condensed-Light.woff') format('woff');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_Condensed-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_SemiCondensed-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_SemiCondensed-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_SemiCondensed-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_SemiCondensed-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_SemiCondensed-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/NunitoSans_7pt_SemiCondensed-SemiBold.woff2') format('woff2');
}






:root {
    --f8f8f8: #f8f8f8;
    --style1-121212: #121212;
    --style1-b8e562: #b8e562;
    --style1-f7f7f6: #f7f7f6;
    --style1-f7f7f6: #f7f7f6;
    --style1-ffffff: #fff;
    --style1-252525: #252525;
    --style2-d0d0d0: #d0d0d0;
    --style2-dedede: #dedede;
    --style2-ffffff: #fff;
    --style2-242424: #242424;
}


:root {
    --font-family: "Nunito Sans", sans-serif;
}


html {
    font-size: calc(100vw / 1920 * 10);
}



@media (max-width: 1024px) {
    html {
        font-size: calc(100vw / 375 * 10);
    }
}

body {
    line-height: 1;
    height: 100vh;
    font-family: var(--font-family);
    color: var(--style2-242424);
    background-color: #fff;
}

.body-block {
    overflow: hidden;
}

.title {}


.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.scroll--block {
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}

body {
    line-height: 1;
    height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0 8rem;
    font-size: 1.6rem;
    position: relative;
    z-index: 2;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

h2 {
    font-size: 1.6rem;
}





/*HEADER*/

.preheader {
    background: #fcfcfc;
}

.preheader__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding: 1.5rem 0;

}

.preheader__content a {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--style2-242424);
}

.preheader__content span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--style2-242424);
}

.preheader__img {
    height: 2.2rem;
    width: 2.2rem;
}


.header__content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
}

.header__menu-items {
    padding: 2.5rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--f8f8f8);
}

.header__menu-items a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--style2-242424);
}

.header__logo {
    position: relative;
    z-index: 2;
    width: 22.5rem;
    height: 3.7rem;
    display: inline-block;
    margin: 2.15rem 3.2rem;
}

.header__logo::after {
    content: '';
    position: absolute;
    right: -3.2rem;
    top: -2.15rem;
    bottom: -2.15rem;
    width: 1px;
    background-color: var(--f8f8f8);
}



.header__content-middle {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.el__wrapper {
    display: flex;
}

.header__search-wrapper {
    height: 100%;
}

.header__search-input {
    padding: 2.8rem 3.2rem 2.8rem 6.4rem;
    border: none;
    background-color: transparent;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--style2-242424);
    width: 51.9rem;
    height: 100%;
}

.header__search-wrapper {
    position: relative;
}

.header__search-wrapper::before {
    content: '';
    position: absolute;
    left: 3.2rem;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    background-image: url('../img/icons/flowbite_search-outline.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.4rem;
    height: 2.4rem;
}


.header__search-wrapper::after,
.socials::after,
.header__phone::after,
.custom-select-wrapper::after,
.empty-block::after,
.header__favorites::after,
.header__account::after,
.header__shop::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--f8f8f8);
}

.socials {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    padding: 0 3.2rem;
    position: relative;
}



.socials a:first-child {
    position: relative;
    display: inline-block;
}

.socials a:first-child::after {
    content: '';
    position: absolute;
    right: -1.2rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--f8f8f8);
    width: 1px;
    height: 2.4rem;
}


.header__phone {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 6rem;
}

.header__phone-number {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--style2-242424);
    display: inline-flex;
    align-items: center;
    gap: 0.45rem;
}

.language__switcher {
    border: none;
    margin: 0 3.2rem;
    cursor: pointer;

}


.custom-select-wrapper {
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
    padding: 0 3.2rem;
}

.custom-select {
    position: relative;
    cursor: pointer;
}

.custom-select-trigger {
    padding-right: 1.5rem;
    display: block;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--style2-242424);
    color: #333;
    position: relative;
}

.custom-select-trigger::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    background-image: url('../img/icons/select.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 0.8rem;
    height: 0.8rem;
}

.custom-options {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
}

.custom-option {
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.custom-option:hover {
    background-color: #f2f2f2;
}

.custom-select.open .custom-options {
    display: block;
}

.custom-option.selected {
    background-color: #f2f2f2;
}

.custom-option.disabled {
    color: #999;
    cursor: not-allowed;
}


.empty-block {
    width: 29.9rem;
    display: flex;
    position: relative;
}

.header__favorites {
    display: flex;
    align-items: center;
    padding: 0 3.2rem;
    position: relative;
}

.header svg {
    height: 2.4rem;
    width: 2.4rem;
}

.header__account {
    display: flex;
    align-items: center;
    padding: 0 3.2rem;
    position: relative;
}

.header__account span {
    display: none;
}

.header__shop {
    display: flex;
    align-items: center;
    position: relative;
    background: var(--style2-242424);
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header__burger.active .header__logo-link {
    color: black;
}

.header__burger {
    display: none;
}




.header__menu-items {
    display: flex;
    gap: 30px;
}

.header__menu-link {
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__menu-link:hover {
    color: #00B2A0;
}





.header__menu-bottom .header__menu-items a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--style2-242424);
}

.header__menu-bottom .header__menu-items {
    justify-content: flex-start;
    gap: 0.2rem;
    padding: 0;
    border: none;
}

.header__menu-bottom .header__menu-items li {
    background: var(--f8f8f8);
    flex: 1;
    text-align: center;
}

.header__menu-bottom .header__menu-items li a {
    padding: 2.4rem;
    display: block;

}

.header__menu-bottom .header__menu-items li a:hover {
    background: #e1e1e1;
}

a svg path {
    transition: all 0.3s ease;
    /* Додаємо плавну зміну для кольору заливки */
}

a:hover svg path {
    fill: #e1e1e1;
    /* Встановлюємо бажаний колір заливки при наведенні */
}
.header__search--mobile{
    display: none;
}
.header__logo--mobile{
    display: none;
}





/*MEDIA*/

@media (max-width: 1024px) {
    .header__container {
        justify-content: space-between;
    }
    .header__burger-wrapper{
        background: var(--style2-242424);
        display: inline-block;
        padding: 3rem;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 1.8rem;
        height: 1.5rem;
        cursor: pointer;
        z-index: 5;
        color: inherit;
        border: none;
        background-color: transparent;
    }

    .header__burger span,
    .header__burger::after,
    .header__burger::before {
        content: "";
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: .2rem;
        border-radius: 4px;
        background-color: #fff;
    }

    .header__burger span {
        top: calc(50% - .125rem);
        width: 1.5rem;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
        width: 1.1rem;

    }
    

    .header__menu-items {
        margin-top: 5rem;
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        border-bottom: 0;
    }

    .header__burger.active::before {
        top: calc(50% - .125rem);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .header__burger.active::after {
        bottom: calc(50% - .125rem);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 100%;
    }

    .header__burger.active span {
        display: none;
    }

    .container {
        max-width: 100%;
    }


    .header__content {
        position: absolute;
        transition: all .6s ease;
        width: 100%;
        padding: 1.6rem;
        padding-top: 23rem;
        z-index: -1;
        top: -200%;
        background-color: #fff;
        z-index: 2;
    }

    .header__content.active{
        top: 0;
        overflow: scroll;
        height: 100vh;
    }

    .preheader__content {
        flex-direction: column;
        gap: 0.8rem;
        padding-top: 3rem;

    }
    .preheader{
        position: relative;
z-index: 10000;
    }

    .preheader__content a {
        font-size: 1.3rem;
        text-align: center;
        max-width: 24rem;
        order: 2;
    }

    .preheader__img {
        order: 1;
    }

    .preheader__content span {
        order: 3;
        font-size: 1.2rem;
    }



    .header__search--desk {
        display: none;
    }

    .header__menu-bottom {
        order: 1;
    }

    .header__content-middle {
        order: 2;
    }

    .header__menu-top {
        order: 3;
    }

    .header__account {
        order: 3;
        display: flex;
        justify-content: center;
        padding:0;
        border: 1px solid var(--f8f8f8);
    }

    .header__account span {
        display: block;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 15px;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--style2-242424);
    }

    .header__account a {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        padding: 2.8rem 0;
    }

    .header__phone {
        order: 4;
        display: flex;
        padding: 0;
        justify-content: center;
        border: 1px solid var(--f8f8f8);
    }
    .header__phone a{
    padding: 2.8rem ;
    }

    .socials {
        order: 5;
        display: flex;
        padding: 0;
        justify-content: space-between;
        border: 1px solid var(--f8f8f8);
        gap: 0;
    }
    .socials a{
        padding: 2.8rem 8rem 2.8rem 6.75rem;
    }
    .socials a:last-child{
        padding-right: 6.75rem;
    }
    .socials a:first-child::after{
        right: 0;
    }

    .el__wrapper {
        order: 6;
        display: flex;
        padding: 2.8rem 0;
        justify-content: space-between;
        border: 1px solid var(--f8f8f8);
        gap: 0;
    }

    .custom-select-wrapper{
        width: 50%;
        justify-content: center;
        order: 1;

    }

    .custom-select-wrapper::after{
        top: -2.8rem;
        bottom: -2.8rem;
    }
    .header__favorites{
        padding: 0;
        width: 50%;
        justify-content: center;
    }

    .empty-block {
        display: none;
    }

    .header__search--mobile {
        display: block;
        width: 100%;
        margin-bottom: .8rem;
    }


    .header__search-input {
        width: 100%;
        border: 1px solid var(--f8f8f8);
    }


    .header__menu-bottom .header__menu-items li {
        width: 100%;
    }

    .header__menu-bottom .header__menu-items li:last-child {
        background: var(--style1-121212);
        font-family: var(--font-family);

    }

    .header__menu-bottom .header__menu-items li:last-child a {
        color: var(--style1-ffffff);
    }

    .header__menu-bottom .header__menu-items {
        margin-bottom: 4rem;
    }

    .header__shop {
        display: none;
    }

    .header__logo {
        display: none;
    }

    .header__content-middle {
        flex-direction: column;
    }



    .header__mobile-top {
        display: flex;
        align-items: center;
        padding: 0 1.6rem;
        justify-content: space-between;
        border-bottom: 1px solid var(--f8f8f8);
        position: relative;
        z-index: 10000;
        background-color: #fff;
    }
    
    .header__logo--mobile{
        display: block;
        width: 16.2rem;
        height: 2.6rem;
    }

    .header__shop--mobile {
        padding: 2.4rem 3.2rem;
        border-left: 1px solid var(--f8f8f8);
        margin-left: auto;
    }
    .header__shop--mobile svg *{
        fill: var(--style2-242424);;
    }

    .header__burger {
    }






}



a:hover {
    color: #6c6c6c;
}